.enclosures__card {
  height: 270px;
}

@media screen and (max-width: 1300px) {
  .enclosures__card {
    height: 250px;
  }
}

@media screen and (max-width: 1100px) {
  .enclosures__card {
    height: 230px;
  }
}

@media screen and (max-width: 1000px) {
  .enclosures__card {
    height: 270px;
  }
}

@media screen and (max-width: 880px) {
  .enclosures__card {
    height: 230px;
  }
}

@media screen and (max-width: 760px) {
  .enclosures__card {
    height: 200px;
  }
}

@media screen and (max-width: 640px) {
  .enclosures__card {
    height: 280px;
  }
}

@media screen and (max-width: 595px) {
  .enclosures__card {
    height: 260px;
  }
}

@media screen and (max-width: 550px) {
  .enclosures__card {
    height: 230px;
  }
}

@media screen and (max-width: 495px) {
  .enclosures__card {
    height: 200px;
  }
}

@media screen and (max-width: 422px) {
  .enclosures__card {
    height: 180px;
  }
}

@media screen and (max-width: 386px) {
  .enclosures__card {
    height: 338.391px;
  }
}
